@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    margin: 0;
    font-family: "National", sans-serif;
    color: #222;
}

.font-headline {
    font-family: "Tiempos Headline";
}

.font-body {
    font-family: "Tiempos Text";
}

@font-face {
    font-family: "National";
    src: url("../fonts/test-national-book.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "National";
    src: url("../fonts/test-national-book-italic.woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "National";
    src: url("../fonts/test-national-medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "National";
    src: url("../fonts/test-national-medium-italic.woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "National";
    src: url("../fonts/test-national-semibold.woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "National";
    src: url("../fonts/test-national-semibold-italic.woff2");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "National";
    src: url("../fonts/test-national-bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "National";
    src: url("../fonts/test-national-bold-italic.woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Tiempos Headline";
    src: url("../fonts/test-tiempos-headline-regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Tiempos Headline";
    src: url("../fonts/test-tiempos-headline-regular-italic.woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Tiempos Headline";
    src: url("../fonts/test-tiempos-headline-bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Tiempos Headline";
    src: url("../fonts/test-tiempos-headline-bold-italic.woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Tiempos Text";
    src: url("../fonts/test-tiempos-text-regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Tiempos Text";
    src: url("../fonts/test-tiempos-text-regular-italic.woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Tiempos Text";
    src: url("../fonts/test-tiempos-text-bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Tiempos Text";
    src: url("../fonts/test-tiempos-text-bold-italic.woff2");
    font-weight: 700;
    font-style: italic;
}